<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajk_riset.slider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aw"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ajk.riset.ajk_riset.slider.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ajk.riset.ajk_riset.slider.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ajk.riset.ajk_riset.slider.MainActivityPengerajin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ajk.riset.ajk_riset.slider.InfoPemesananProduk" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailPesananProduk" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailHasilProduksi" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.InfoDataPenyelesaian" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.MasterPengguna" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.InputPengguna" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.MasterProduk" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.InputPesanan" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.SuratPerintahKerja" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailInfoPenyelesaian" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailProduk" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.PembeliaanBahan" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailPembelianBahan" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.HasilProduksi" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.InfoKetersediaanBahan" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.PenggunaanBahanBaku" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.DetailPenggunaanBahanBaku" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.TestUploadImage" android:screenOrientation="portrait"></activity>
        <activity android:name="ajk.riset.ajk_riset.slider.InfoSPK" android:screenOrientation="portrait"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
